[submodule "clang_complete"]
	path = clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".vim/bundle/jslint.vim"]
	path = .vim/bundle/jslint.vim
	url = git@github.com:joestelmach/lint.vim.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/command-t.vim"]
	path = .vim/bundle/command-t.vim
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/delmitmate.vim"]
	path = .vim/bundle/delmitmate.vim
	url = git://github.com/Raimondi/delimitMate.git
[submodule ".vim/bundle/closetag.vim"]
	path = .vim/bundle/closetag.vim
	url = git://github.com/docunext/closetag.vim.git
[submodule ".vim/bundle/tagbar.vim"]
	path = .vim/bundle/tagbar.vim
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/supertab.vim"]
	path = .vim/bundle/supertab.vim
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/autocomplpop.vim"]
	path = .vim/bundle/autocomplpop.vim
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule ".vim/bundle/indent-guides.vim"]
	path = .vim/bundle/indent-guides.vim
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/flashdevelop.vim"]
	path = .vim/bundle/flashdevelop.vim
	url = https://github.com/endel/actionscript.vim.git
[submodule ".vim/bundle/srcexpl.vim"]
	path = .vim/bundle/srcexpl.vim
	url = https://github.com/wesleyche/SrcExpl.git
[submodule ".vim/bundle/scala.vim"]
	path = .vim/bundle/scala.vim
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/nerdtree.vim"]
	path = .vim/bundle/nerdtree.vim
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/solarized.vim"]
  path = .vim/bundle/solarized.vim
  url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/bundle/wowlua.vim"]
  path = .vim/bundle/wowlua.vim
  url = https://github.com/yaroot/wowlua.vim
[submodule ".vim/bundle/fizzyfinder.vim"]
	path = .vim/bundle/fizzyfinder.vim
	url = https://github.com/vim-scripts/FuzzyFinder
[submodule ".vim/bundle/l9.vim"]
	path = .vim/bundle/l9.vim
	url = https://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/yavdb.vim"]
	path = .vim/bundle/yavdb.vim
	url = https://github.com/vim-scripts/yavdb.git
[submodule ".vim/bundle/javacomplete.vim"]
	path = .vim/bundle/javacomplete.vim
	url = https://github.com/vim-scripts/javacomplete
[submodule ".vim/bundle/easytags.vim"]
	path = .vim/bundle/easytags.vim
	url = https://github.com/vim-scripts/easytags.vim.git
